<div id="nav_buffer"></div>
<div id = "download_text">
	<h2>Want to learn more?</h2>
	<p>Click below to download our informational flyers and postcards!</p>
</div>

<div id = "thumbnails" class = "thumbnails">
	<!--Arrangement of thumbnail images uses Bootstrap-->
	<a href="./materials/Australia.pdf" download="AustraliaFlyer">
		<img src="./images/thumbnails/Australia.png" alt = "Woman in forest in Australia">
	</a>
	<a href="./materials/Japan.pdf" download="JapanFlyer">
		<img src="./images/thumbnails/Japan.png" alt = "Kinkakuji Temple in Kyoto">
	</a>
	<a href="./materials/Mexico.pdf" download="MexicoFlyer">
		<img src="./images/thumbnails/Mexico.png" alt = "Colorful clothes in Quetarro">
	</a>
	<a href="./materials/Korea.pdf" download="KoreaFlyer">
		<img src="./images/thumbnails/Korea.png" alt = "Temple in Seoul">
	</a>
	<a href="./materials/France.pdf" download="FranceFlyer">
		<img src="./images/thumbnails/France.png" alt = "Bridge over a river">
	</a>
	<a href="./materials/Ireland.pdf" download="IrelandFlyer">
		<img src="./images/thumbnails/Ireland.png" alt = "Woman at the Cliffs of Moher">
	</a>
</div>
<div id="flyers" class = "flyers">
	<a href="./materials/GO.pdf" download="GoFlyer">
		<img src="./images/thumbnails/Go.png" alt = "Informational flyer for OSU GO">
	</a>
	<a href="./materials/Elephant.pdf" download="ElephantFlyer">
		<img src="./images/thumbnails/Elephant.png" alt = "Picture of man touching Elephant's trunk">
	</a>
</div>
