<div id="nav_buffer"></div>
<h1> Frequently Asked Questions </h1>
<ul>
	<li class = "faq">
		<div id="covid">
			<h3> COVID 19 Information</h3>
			<div id="scroll">
				<p>Due to the outbreak of novel cornoavirus SARS-CoV-2, colloquially known as "Covid-19," Oregon State University and IE3 Global have suspended all official travel for students, staff and faculty. It is unclear at this time when this blanket suspension will be lifted, but rest assured the IE3 Global will never sponsor a program to any location while travel is deemed unsafe by our internal health and safety coordinator, host countries, or our partner universitys.</p>
				<p>While all travel is suspended, it is possible for IE3 Global to petition Oregon State University's Travel Council for programs that meet a CDC Travel Advisory of level 2 or lower and a U.S. Department of State Travel Advisory of level 2 or lower. Petitions are not guaranteed to be approved, and rely on a variety of factors like the prevalence of COVID-19 in the host country, hospital capacity, host university assistance available to the student, and a variety of other factors. Please contact your program coordinator if you have further questions about the viability of your program. </p>
			</div>
		</div>
	</li>
	<li class = "faq">
		<h3> Health and Safety Links </h3>
			<ul>
				<li>
					<a href="https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/" target = "_blank"> U.S. Department of State</a>
				</li>
				<li>
					<a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html" target = "_blank"> U.S. Department of State</a>
				</li>
			</ul>
	</li>
	<li class="faq">
		<h3> How early do I have to apply?</h3>
		<p> We recommend starting the application process about a year prior to your expected departure. The deadlines for program application are usually at least a term before departure if not more, so it is definitely something you can't do at the last minute.
		</p>
	</li>

