<div id="nav_buffer"></div>
<h2 id = "news_header"> Subscribe to the IE3 Global newsletter!</h2>
  <p> Click submit to receive a monthly email newsletter with information about scholarships, programs, and more!</p>

<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method = "post" target="_blank">
  <label for = "name">Name:</label>
  <input id="name" type = "text" name="name">
  <label for = "email">Email:</label>
  <input id="email" type = "text" name = "email">
  <input type="submit" name = "subscribed" value = "Subscribe">
</form>